<div class="footer-wrapper">
  <footer class="bg-dark col-10 mx-auto text-center text-lg-start rounded-top-4 mt-5">
    <!-- Copyright -->
    <div class="text-light text-center p-3"> 
      <p><i>© 2022 Copyright : Jean-Claude Monti</i></p>
      <p>Développé par <a class="text-light" href="https://slimen-metatidj.com/">Slimen Metatidj</a></p>
    </div>
    <!-- Copyright -->
  </footer>
</div>